
{% extends 'catalogo/base.html' %}

{% block title %}Detalles del Producto{% endblock %}

{% block content %}
    <!-- Pricing Section -->
    <section id="pricing" class="pricing section light-background">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Productos</h2>
          <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
        </div><!-- End Section Title -->
  
        <div class="container">
  
          <div class="row gy-4">
             <!-- Aquí se muestran los productos -->
            {% for producto in productos %}
            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100" style="border: 0px solid red;">
              <div class="pricing-item featured">
                <h3>{{ producto.prod_marca }} Talla {{ producto.prod_talla }}</h3>
                <h4><sup>Bs</sup>{{ producto.prod_paquete_precio }}<span> / paquete</span></h4>
                <!-- Mostrar la primera imagen del producto si existe -->
                {% if producto.imagenes.all %}
                <img src="{{ producto.imagenes.first.imagen_nombre.url }}" class="card-img-top" alt="Imagen de {{ producto.nombre }}">
                {% endif %}       
                <br>
                <br>
                <a href="{% url 'producto_detail' producto.pk %}" class="buy-btn">Mas Detalles</a>
              </div>
            </div><!-- End Pricing Item -->
            {% endfor %}  
          </div>
  
        </div>
  
      </section><!-- /Pricing Section -->
{% endblock %}