{% extends 'catalogo/base.html' %}

{% block title %}Detalles del Producto{% endblock %}

{% block content %}

<!--<section id="contact" class="contact section">-->
<section id="" class="pricing section light-background">

  <div class="container container-breadcrumb">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}

            {% if forloop.last %}
            <!--<p style="color: red;">{{breadcrumb.name}}</p>-->
            <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.name }}</li>
            {% else %}
            <!--<p style="color: red;">{{breadcrumb.name}}</p>-->
            <li class="breadcrumb-item"><a href="{{ breadcrumb.url }}" style="font-weight:bold;">{{breadcrumb.name}}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4">
      <div class="col-lg-7">
        
        <div class="main-image">
          <img src="{{ producto.imagenes.first.imagen_nombre.url }}" class="d-block w-100 img-fluid" id="mainImage"
            alt="Imagen de {{ producto.prod_marca }}">
        </div>
        
      </div>

      <div class="col-lg-5">

        <div class="product-header2">
          <h1 style="color: black;">{{ producto.prod_marca }} Talla {{ producto.prod_talla }}</h1>
        </div>

        <div class="row align-items-center my-4 precio">
          <div class="col-6 col-md-6 text-center position-relative">
            <span class="precio-paquete2 linea-paquete"><b>Bs {{ producto.prod_paquete_precio }}</b></span>
            <p class="precio-descripcion2 linea-descripcion-paquete">Precio por Paquete</p>
          </div>
          <div class="col-6 col-md-6 text-center position-relative">
            <span class="precio-jaba2 linea-jaba"><b>Bs {{ producto.prod_jaba_precio }}</b></span>
            <p class="precio-descripcion2 linea-descripcion-jaba">Precio por Jaba</p>
          </div>
        </div>

        <div class="row align-items-center my-4">
          <div class="col-6 col-md-4 rating2 d-flex align-items-center">
            <span class="text-warning">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </span>
          </div>

          <div class="col-6 col-md-8 d-flex justify-content-end align-items-center stock2">
            <span><b>Stock:</b> 12344 items</span>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-12">
            <div class="product-description">
              <span>{{ producto.prod_descripcion }}</span>
            </div>
          </div>
        </div>

        <div class="container my-section">
          <h2 class="" style="color: black;">Detalles</h2>

          <div class="row align-items-center">
            <div class="col-4 col-md-4">
              <span>Color</span>
            </div>
            <div class="col-8 col-md-8">
              <span>{{ producto.prod_color }}</span>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col-4 col-md-4">
              <span>Peso del/la Bebé</span>
            </div>
            <div class="col-8 col-md-8">
              <span>{{ producto.prod_peso_inicio }} - {{ producto.prod_peso_fin }} kg</span>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-4 col-md-4">
              <span>Protección</span>
            </div>
            <div class="col-8 col-md-8">
              <span>{{ producto.prod_tiempo_proteccion }} horas</span>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-4 col-md-4">
              <span>Jaba</span>
            </div>
            <div class="col-8 col-md-8">
              <span>{{ producto.prod_jaba_paquete }} paquetes</span>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-4 col-md-4">
              <span>Peso Jaba</span>
            </div>
            <div class="col-8 col-md-8">
              <span>{{ producto.prod_jaba_peso }} kg</span>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-4 col-md-4">
              <span>Paquete</span>
            </div>
            <div class="col-8 col-md-8">
              <span>{{ producto.prod_paquete_unidad }} unidades (pañales)</span>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col-4 col-md-4">
              <span>Dimensión del paquete</span>
            </div>
            <div class="col-8 col-md-8">
              <span>{{ producto.prod_paquete_medida }} cm</span>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col-4 col-md-4">
              <span>Peso del paquete</span>
            </div>
            <div class="col-8 col-md-8">
              <span>{{ producto.prod_paquete_peso }} kg</span>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row mt-3">
      <div class="col text-center">
        <a href="{% url 'lista_productos' %}" class="buy-btn2">Volver</a>
      </div>
    </div>

  </div>

</section>

{% endblock %}